#create_submit_btn {
    border-radius: 4px;
    background-color: #00c851;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 12px;
    /* padding: 16px; */
    /* width: 220px; */
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 36px; */
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

#create_submit_btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

/** Reset Btn Effects */

#create_reset_btn {
   border-radius: 4px;
   background-color: #ff4444;
   border: none;
   color: #fff;
   text-align: center;
   font-size: 12px;
   /* padding: 16px; */
   /* width: 220px; */
   transition: all 0.5s;
   cursor: pointer;
   /* margin: 36px; */
   box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

#create_reset_btn {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
}

/** Mapping button - ID : mapping_submit_btn */

#mapping_submit_btn {
   border-radius: 4px;
   background-color: #00c851;
   border: none;
   color: #fff;
   text-align: center;
   font-size: 12px;
   /* padding: 16px; */
   /* width: 220px; */
   transition: all 0.5s;
   cursor: pointer;
   /* margin: 36px; */
   box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

#mapping_submit_btn {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
}
